%h1 Recent Tweets with the letter A
%h4 
  = link_to "Saved Tweets",tweets_path
:javascript
  jQuery(document).ready(function() {
    jQuery('body .load').ajaxStart(function(){
      $(this).show();
    })
    jQuery('body .load').ajaxStop(function(){
      $(this).hide();
    })
    load_tweets({save:true});
  })
