%h1 Last 15 Saved Tweets
%h4 
  = link_to "Incoming Tweets",root_path
.index
  -Tweet.all(:order => 'created_at DESC', :limit => 15).each do |tweet|
    :javascript
      Tweet(#{tweet.json},'.index')
